[Unit]
Description=Play fullscreen video
PartOf=graphical-session.target

[Service] 
ExecStart=mpv --fullscreen --loop=inf /opt/svpb-signage/content/video.mp4
Type=simple
Restart=on-failure 

[Install] 
WantedBy=xsession.target
