[Unit]
Description=Play fullscreen video
PartOf=graphical-session.target

[Service] 
ExecStart=mpv --fullscreen /opt/svpb-signage/content/video.mp4
Type=oneshot
Restart=on-failure 

[Install] 
WantedBy=xsession.target
